@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.homeAdvantages {

  &__cardContainer {
    display: flex;
    width: 100%;    
    gap: 70px;
    margin: 30px 0 100px;

    @include smScreenMedia {
      flex-wrap: wrap;
    }

    @include mdScreenMedia {
      gap: 50px;
      margin: 20px 0 50px;
    }
  }

  &__animationContainer {
    width: 100%;
  }

  &__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    position: relative;
    border: 2px solid $color-white;
    
    // 2 cardin flex direction@ menak mobilum
    // @include smScreenMedia {
    //   flex-direction: column;
    // }
  }

  &__cardRow {
    display: flex;
    width: 100%;
    position: relative;
    border: 2px solid $color-white;    
    height: 100%;
    
     @include lgScreenMedia {
      flex-direction: column;
     }
  }

  &__cardTextWrapper {
    // min-height: 190px;
    padding: 30px;

    @include mdScreenMedia {
      padding: 20px 15px;
    }
  }

  &__cardTitle {
      @include setFont(38px, 600);
      line-height: 40px;
      margin-bottom: 15px;

    @include mdScreenMedia {
      @include setFont(30px, 600);
      line-height: 35px;
      margin-bottom: 5px;
    }
  }

  &__cardDescription {
      @include setFont(18px, 400);
      line-height: 28px;

    @include mdScreenMedia {
      @include setFont(16px, 400);
      line-height: 20px;
    }
  }

  &__cardColumn {
    display: flex;   
    flex-direction: column;    
    gap: 50px;
    width: 100%;
  }

  &__cardImg {
    /* position: absolute;
     top: 0;
     left: 0;*/
    object-fit: contain;
    max-width: 100%;
    width: 100%;
  }

  &__insightsPosition {    
    @include mdScreenMedia {
      margin-bottom: -90px;
    }  
  }

  &__actionImg {
    flex-direction: row;    
   }

   &__actionPosition {
    flex: 1;
  }
   
  &__actionPicture {
    margin-right: -10%;
    flex: 2;

   @include smScreenMedia {
     margin-right: auto;
     margin-left: auto;
     max-width: 70%;
     margin-bottom: -30px;
   }
 }
  
  &__portfolioPosition {
   // position: absolute;
    //top: 30%;
    //left: 50%;
    // transform: translate();
    //margin-top: -170px;  
    margin-bottom: -135px;
  }
}