@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.homeAdvantages {

  &__cardContainer {
    display: flex;
    width: 100%;    
    gap: 70px;
    margin: 30px 0 100px;

    @include smScreenMedia {
      flex-wrap: wrap;
    }

    @include mdScreenMedia {
      gap: 50px;
      margin: 20px 0 50px;
    }
  }

  &__animationContainer {
    width: 100%;
  }

  &__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;    
    border: 2px solid $color-white;   
  }

  &__cardRow {
    display: flex;
    width: 100%;   
    border: 2px solid $color-white;   
       
     @include lgScreenMedia {
      flex-direction: column;
     }
  }

  &__cardTextWrapper {
    // min-height: 190px;
    padding: 30px;

    @include mdScreenMedia {
      padding: 20px 15px;
    }
  }

  &__cardTitle {
      @include setFont(38px, 600);
      line-height: 40px;
      margin-bottom: 15px;

    @include mdScreenMedia {
      @include setFont(30px, 600);
      line-height: 35px;
      margin-bottom: 5px;
    }
  }

  &__cardDescription {
      @include setFont(18px, 400);
      line-height: 28px;

      @include mdScreenMedia {
        @include setFont(16px, 400);
        line-height: 20px;
    }
  }

  &__cardColumn {
    display: flex;   
    flex-direction: column;    
    gap: 50px;
    width: 100%;
  }

  &__cardImg {    
    object-fit: contain;
    max-width: 100%;
    width: 100%;
  }

  &__insightsPosition {   
     
    @include smScreenMedia {
      margin-bottom: -90px;
    }  
  }

  &__actionImg {
    flex-direction: row;    
   }

   &__actionPosition {
    flex: 1;
  }
   
  &__actionPicture {
    margin-right: -10%;
    flex: 2;
    max-width: 100%;
    display: flex;
  

   @include smScreenMedia {
     margin-right: auto;
     margin-left: auto;
     max-width: 70%;
     margin-bottom: -30px;
   }     
 }
  
  &__portfolioPosition {  
    margin-bottom: -135px;
  }
}