@import "../../../styles/mixins";
@import "../../../styles/vars";

.chatSidebar {
  max-width: 305px;
  width: 100%;
  @include flexCol(center, flex-start);  
  @include bgWebp(
    "../../../assets/images/chat/SidebarBg.png",
    "../../../assets/images/chat/SidebarBg.webp"
  );
  background-repeat: no-repeat;
  background-position: top left;
  padding: 15px;

  @include mdScreenMedia {
    max-width: 1170px;
    background-size: cover;
  }

  &__deskWallet {
    width: inherit; 
  }

  &__btnWallet {
    width: inherit;
    @include setFont(14px, 500, $color-darkBlue);
    background-color: $color-lightBlue;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 0;
    &:hover {
      background-color: #49aeff;
    }
  }

  &__logoImg {
    display: flex;
    max-width: 50%;
    margin-top: auto;
  }
}
