@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.homeImpact {   

  &__cardContainer {
    display: grid;
    width: 100%; 
    grid-template-columns: repeat(4, 1fr);         
    gap: 60px; 
    margin: 30px 0 80px;

    @include xlScreenMedia { 
      grid-template-columns: repeat(4, 1fr); 
    }
    
    @include lgScreenMedia { 
      grid-template-columns: repeat(2, 1fr);  
    }

    @include mdScreenMedia { 
      grid-template-columns: repeat(2, 1fr);  
     // gap: 20px; 
     
    }

    @include smScreenMedia { 
      grid-template-columns: repeat(1, 1fr);  
      justify-content: center;
    }
  }

  &__card {
    @include flexCol();
    flex-direction: column;   
    justify-content: flex-start;
    text-align: center;     
    width: 100%;
    min-height: 260px;  
   // padding: 20px;   
  }

  &__cardImgWrapper {
    @include flexCol();
    max-width: 300px;
    width: 100%;
    border: 5px solid #959595; 
    border-radius: 27px; 
     //overflow: hidden;
  }

  &__cardTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 316px;
    //min-height: 200px; 
    padding: 0 20px;   
   // width: 100%;
   // max-width: 250px;   
  }

  &__cardTitle {
    @include setFont(30px, 700, $font-family, $color-white);
    line-height: 35px;
    margin: 10px 0;
   // white-space: normal;
    //max-width: 316px;

    @include setFont(24px, 700, $font-family, $color-white);
      line-height: 28px;
      margin: 10px 0;
     // white-space: normal;

    @include lgScreenMedia {           
      @include setFont(27px, 700, $font-family, $color-white);
      line-height: 28px;  
    }

    @include mdScreenMedia {           
      @include setFont(22px, 700, $font-family, $color-white);
      line-height: 25px;  
    }
  }

  &__cardDescription {
    @include setFont(14px, 300, $font-family, $color-white);
    word-wrap: break-word;     
  }
  
  &__title {
   // @include flexCol();
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    @include setFont(60px, 500, $font-family, $color-white);
    text-transform: uppercase;
    text-align: center;
    line-height: 85px;    
   
    @include lgScreenMedia {  
      max-width: 600px;    
      @include setFont(45px, 500, $font-family, $color-white);
      line-height: 65px;  
    }

    @include mdScreenMedia {
      max-width: 400px;
      @include setFont(30px, 500, $font-family, $color-white);
      line-height: 45px;  
    }
  }   
}