@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.homeImpact {   

  &__cardContainer {
    display: grid;
   // grid-template-columns: 1fr 1fr 1fr 1fr;       
   grid-template-columns: repeat(auto-fill,minmax(316px, 316px));   
   gap: 78px; 
   margin: 45px 0 90px;

  }

  &__card {
    @include flexCol();
    flex-direction: column;   
    text-align: center;     
  }

  &__cardImgWrapper {
    @include flexCol();
    max-width: 316px;
    width: 100%;
    border: 5px solid #959595; 
    border-radius: 27px;    
  }

  &__cardTextWrapper {
    min-height: 190px;
    padding: 0 45px;
  }

  &__cardTitle {
    @include setFont(32px, 700, $font-family, $color-white);
    line-height: 35px;
    margin: 10px 0;
  }

  &__cardDescription {
    @include setFont(14px, 300, $font-family, $color-white);
  }
  
  &__cardImg {
    
  }
  
  &__title {
   // @include flexCol();
    max-width: 1267px;
    width: 100%;
    margin: 0 auto;
    @include setFont(100px, 500, $font-family, $color-white);
    text-transform: uppercase;
    text-align: center;
    line-height: 125px;    
  }
    //1267px
}