@import "../../../styles/mixins";
@import "../../../styles/vars";

.aboutMain {   
 //padding: 30px;  
 max-width: 1170px;width: 100%;
 margin: 0 auto;
 //padding: 30px;  

 color: $color-black;
  background-color: $color-white;   
}