@import "../../../styles/mixins";
@import "../../../styles/vars";


.headerBg {

  @include bgWebp(
    "../assets/images/header/headerBg.png",
    "../assets/images/header/headerBg.webp"
  );
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;   
  padding-top: 70px;  
  width: 1100px;
  height: 700px;
 
}