@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
      width: 100%;
    height: 800px;
  color: $color-white;
  background-color: #010c10;
  font-family: $font-family;
  @include bgWebp(
    "../assets/images/bodyBg.png",
    "../assets/images/bodyBg.webp"
  );
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 2000px;
  margin: 0 auto;

  @include mdScreenMedia {
    background-image: none;
   }

  // Body Scrollbar

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #06221a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-green;
    border-radius: 10px;
  }

  &::-moz-scrollbar {
    width: 10px;
  }

  &::-moz-scrollbar-track {
    background: #06221a;
  }

  &::-moz-scrollbar-thumb {
    background: $color-green;
  }
}

button,
button:focus,
button:focus-visible,
button:active,
a:focus-visible {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
 
  .titleh2 {
    @include setFont(55px, 300);

    @include mdScreenMedia {
      @include setFont(40px, 300);
    }
  }

  .textlightGreen {
    color: $color-lightGreen;
  }

  .texGreen {
    color: $color-green;
  }


  .bgContainer {
    @include bgWebp(
      "../assets/images/header/headerBg.png",
      "../assets/images/header/headerBg.webp"
    );
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;   
    padding-top: 70px;  
    width: 800px;;
    background-color: green;;
    width: 100%;
    height: 800px;

     @include mdScreenMedia {
     text-align: center;    
    // background-position: bottom center;
    background-position: top 400px right;   
    // padding-top: 100px;
    height: 1100px;
    }  

    @include smScreenMedia {     
      min-height: 950px;  
     }
     
     @include xsmScreenMedia {     
       //min-height: 750px;      
     }
  }
}