@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root { 
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

body {
  color: $color-white;
  background-color: #010c10;
  font-family: $font-family;
  @include bgWebp(
    "../assets/images/bodyBg.png",
    "../assets/images/bodyBg.webp"
  );
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 2000px;
  margin: 0 auto;

  @include mdScreenMedia {
    background-image: none;
   }

  // Body Scrollbar

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background: #1c1b1b;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-green;
    border-radius: 4px;
  }

  &::-moz-scrollbar {
    width: 11px;
  }

  &::-moz-scrollbar-track {
    background: #1c1b1b;
  }

  &::-moz-scrollbar-thumb {
    background: $color-green;
  }
}

button,
button:focus,
button:focus-visible,
button:active,
a:focus-visible {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;  
}

.containerPadding {
  padding-right: 30px;
  padding-left: 30px;
}

.titleh2 {
  @include setFont(55px, 300);

  @include mdScreenMedia {
    @include setFont(40px, 300);
  }
}

.textlightGreen {
  color: $color-lightGreen;
}

.texGreen {
  color: $color-green;
} 

.btnPrimary {
  color: $color-white;
  background-color: $color-green;
  border-radius: 15px;
  box-shadow: 0px 6px 20px 0px $color-green;
  white-space: nowrap;

  &:hover {
    background-color: #128a66;
    cursor: pointer;
  }
}