// media
$xsm-screen: 360px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1420px;
$hylg-screen: 1650px;

// font
$font-family: "Poppins", serif;

// Transition
$transition: all 0.3s;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-lightGreen: #00F589;  
$color-green: #19C690; 
$color-red: #e53935;