@import "../../../styles/mixins";
@import "../../../styles/vars";

.chatWrapper { 
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  //padding: 0;

  @include mdScreenMedia {
    flex-direction: column;
  }
}