@import "../../../styles/mixins";
@import "../../../styles/vars";
@import "../../../styles/global";

.headerMenu {   
  //@extend .containerPadding;

  position: sticky;
  top: 0;
  left: 0;  
  z-index: 1;  
    background: linear-gradient(     
    rgba(25, 198, 144, 0) 19.42%,
    rgba(25, 198, 144, 0.37) 80.58%
  );
  background-color: $color-lightBlack;
  transition: $transition; 

   &__container {
    @include flexCol(space-between);
    padding: 20px 30px;   
  }

  &__logoImg {
    max-width: 54%;
    //margin-right: 50px;
    
    @include mdScreenMedia {
      max-width: 100%;
    }
  }

  &__leftBlock {
    display: flex;
    align-items: center;
    gap: 10px;
  }

 // Menu

  &__menu {  
    display: flex;
    gap: 40px;

    @include mdScreenMedia {
      display: none;  
      gap: 15px;
    }
  }

  &__menuLink {  
    @include setFont(18px, 400); 

    &:hover {
      color: $color-green;
      cursor: pointer;
      transition: $transition;
    }
    
    &_active {
      color: $color-green; 

      &:hover {       
        cursor: default;
      }  
    }
  }

  // Mobile

  &__menu_open {
    @include flexCol();
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;    
    transform: translate(-50%,-50%);
    background-color: $color-lightBlack;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;       
    z-index: 2;
  }

  &__burgerIcon {
    @include svg(18px, inherit, 15px);
    width: 22px;
   // height: 22px;
    display: none;

    @include mdScreenMedia {
      display: block;
      
      &:hover {
        cursor: pointer
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: block;

    @include mdScreenMedia {
      display: block;
    }
  }

  &__rightblock {
    display: flex;
    align-items: center;
    gap:20px;
     
    a {
      color: $color-white;

      &:hover {
        color: $color-green;
        transition: $transition
      }
    }
  }

  &__socIcon {
    @include svg(25px, $color-white);
  }

  &__btnConnect {      
    @include setFont(18px, 560);
    @extend .btnPrimary;
    margin-left: 30px;
    padding: 10px 25px;      

    @include mdScreenMedia {
      display: none;
    }
  }
}