@import "../../../styles/mixins";
@import "../../../styles/vars";

.chatMain {  
 // max-width:  617px; 
  width: 100%;
  @include bgWebp (
    "../../../assets/images/chat/ChatBg.png",
    "../../../assets/images/chat/ChatBg.webp"
  );
  background-repeat: no-repeat;
  background-position: top center;
  padding: 50px 0;

  &__container {
    @include flexCol();
    flex-direction: column;
  //  max-width:  617px; 
    margin: 0 auto;
    padding: 0 50px;
  }

  &__title {
    @include setFont(50px, 300,  $color-black);
    line-height: 60px;;
    text-align: center;

    span {
      color: $color-green;
      font-weight: 700;
    }   
  }


  &__panelContainer {
    @include flexCol();
    flex-direction: column;
  }

  &__panel {
    max-width: 352px;
    @include setFont(18px, 400,  $color-black);
    background-color: $color-white;
    border-radius: 60px;
    margin-bottom: 10px;
    padding: 10px;
  }

  &__panelTextarea {    
    width: 100%; 
    border-radius: 20px;
    background-color: $color-darkBlue;   
    padding: 25px;
  }

  &__chatTextarea {
    width: 100%;   
    @include setFont(18px, 400); 
    background-color: $color-darkBlue;  
    resize: none;  
    outline: 0;
    border: 0;     

    &::placeholder {
      @include setFont(18px, 400);
      opacity: 1;      
    }
  }

  &__attachIcon {   
   // @include svg(28px, $color-white);      
    width: 30px;
    height: 27px;   
     
  } 

  &__send{
    @include flexCol();
    width: 42px;
    height: 40px;
    background-color: $color-green;
    border-radius: 50px;   
    &_icon {   
      @include svg(20px, $color-white);   
       
    } 
  }

 


  &__actionContainer {
    @include flexCol(space-between, center);
  }
}